<a href="https://colab.research.google.com/github/Tkei-54/Tkei-54/blob/main/Keith_Experiments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 4/3/25
print("I like burgers")

I like burgers

In [ ]:
print("It's really good!")

It's really good!

In [ ]:
#These are strings
first_name = "Keith"
food = "burgers"
email = "keithtongi54@gmail.com"
print(first_name)
print (f"Hello {first_name}")
print(f"I like {food}")
print(f"My email is {email}")

Keith
Hello Keith
I like burgers
My email is keithtongi54@gmail.com

In [ ]:
# These are integers
age = 27
quantity = 3
number_of_children = 1
print (f"I am {age} years old")
print (f"I am buying {quantity} pairs of glasses")
print (f"She has {number_of_children} child")

I am 27 years old
I am buying 3 pairs of glasses
She has 1 child

In [ ]:
# These are floats
price = 120.25
gpa = 3.8
distance = 350.8
print (f"The price of the watermelon is KES {price}")
print (f"I can get the Schwarzman scholarship to Tsinghua despite a gpa of {gpa}")
print (f"Kisii is {distance} kilometres from Nairobi")

The price of the watermelon is KES 120.25
I can get the Schwarzman scholarship to Tsinghua despite a gpa of 3.8
Kisii is 350.8 kilometres from Nairobi

In [ ]:
# These are booleans
is_student = True
for_sale = True
is_hungry = True
print(f"Are you a student? {is_student}")
if for_sale:
    print("This item is for sale")
else:
    print("This item is not for sale")
print(f"Are you hungry? {is_hungry}")

Are you a student? True
This item is for sale
Are you hungry? True

In [ ]:
# Typecasting
name = "Keith Tongi"
age = 27
gpa = 3.2
is_student = True

gpa = int(gpa)
print(gpa)
age = float(age)
print(age)
is_student = str(is_student)
print(is_student)
name = bool(name)
print(name)

3
27.0
True
True

In [ ]:
#Input
name = input("What is your name? ")
print(f"Hello {name}")
age = int(input("How old are you? "))
print ("Happy birthday!")
print(f"You are {age} years old")
print(f"Next year, you will be {age + 1} years old")

What is your name? Keith
Hello Keith
How old are you? 27
Happy birthday!
You are 27 years old
Next year, you will be 28 years old

In [ ]:
#Area of a rectangle
length = float(input("What is the length of the rectangle? "))
width = float(input("What is the width of the rectangle? "))
area = length * width
print(f"The area of the rectangle is {area}")

What is the length of the rectangle? 6.7
What is the width of the rectangle? 7.9
The area of the rectangle is 52.93000000000001

In [ ]:
# Shopping cart program
item = input("What item would you like to buy? ")
price = float(input("What is the price of the item? "))
quantity = int(input("How many would you like to buy? "))
total = price * quantity
print(f"You have bought {quantity} x {item} for KES {total}")

What item would you like to buy? bouquet of flowers for Loise Lane
What is the price of the item? 1000
How many would you like to buy? 1
You have bought 1 x bouquet of flowers for Loise Lane for KES 1000.0

In [ ]:
#Madlibs Game
adjective1 = input("Enter an adjective: ")
noun1 = input("Enter a noun: ")
adjective2 = input("Enter another adjective: ")
print(f"On Saturday I went to an {adjective1} restaurant with {noun1}")
print(f"In the restaurant, the menu had {adjective2} prices")
print(f"I'm kinda glad {noun1} was feeling unwell because i thought the bill would be crazy")
print(f"I know i shouldn't be happy, but i was")

Enter an adjective: expensive
Enter a noun: Loise Lane
Enter another adjective: crazy
On Saturday I went to an expensive restaurant with Loise Lane
In the restaurant, the menu had crazy prices
I'm kinda glad Loise Lane was feeling unwell because i thought the bill would be crazy
I know i shouldn't be happy, but i was

In [ ]:
#basic arithmetic operators
friends = 10
friends += 1
print (friends)
friends -= 2
print (friends)
friends *= 3
print (friends)
friends /= 2
print (friends)
friends **= 2
print (friends)
friends //= 2
print (friends)
friends %= 2
print (friends)

11
9
27
13.5
182.25
91.0
1.0

In [ ]:
#built in mathematical functions
x = 3.14
y = 4
z = 5
print(round(x))
print(abs(x))
print(pow(y,z))
print(max(x,y,z))
print(min(x,y,z))

3
3.14
1024
5
3.14

In [ ]:
import math

In [ ]:
print (math.pi)
print(math.e)
x = 9
result = math.sqrt(x)
print (result)

3.141592653589793
2.718281828459045
3.0

In [ ]:
radius = float(input("What is the radius of the circle? "))
area = math.pi * (radius ** 2)
print(f"The area of the circle is {area}")
circumference = 2 * math.pi * radius
print(f"The circumference of the circle is {circumference}")

What is the radius of the circle? 14
The area of the circle is 615.7521601035994
The circumference of the circle is 87.96459430051421

In [ ]:
a = float(input("Enter side A"))
b = float(input("Enter side B"))
c = math.sqrt(a**2 + b**2)
print(f"The hypotenuse of the triangle is {c} cm")

Enter side A3
Enter side B4
The hypotenuse of the triangle is 5.0 cm

In [ ]:
# Control flows elif and if statements
age = float(input("How old are you? "))
if age >= 28:
    print("You are a millenial")
elif age >= 15:
    print("You are a Gen Z")
else:
    print("You are a child")

How old are you? 27
You are a Gen Z

In [ ]:
response = input("Would you like some nyama choma? (Y/N):")
if response == "Y":
    print("Have some nyama choma")
else:
    print("Cuddle with your man")

Would you like some nyama choma? (Y/N):N
Cuddle with your man

In [ ]:
for_sale = False
if for_sale:
  print ("This item is for sale")
else:
  print ("This item is not for sale")

This item is not for sale

In [ ]:
#python calculator
operator = input("Enter an operator (+, -, *, /): ")
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
if operator == "+":
    print(num1 + num2)
elif operator == "-":
    print(num1 - num2)
elif operator == "*":
    print(num1 * num2)
elif operator == "/":
  print(num1 / num2)
else:
  print("Invalid operator")

Enter an operator (+, -, *, /): **
Enter the first number: 5
Enter the second number: 4
Invalid operator

In [ ]:
#python weight converter
weight = float(input("Enter your weight: "))
unit = input("Enter the unit of measurement (L/K): ")
if unit == "L":
    print(f"Your weight in kilograms is {weight * 0.45}")
elif unit == "K":
    print(f"Your weight in pounds is {weight * 2.20}")
else:
  print ("Invalid unit of measurement")

Enter your weight: 68.5
Enter the unit of measurement (L/K): K
Your weight in pounds is 150.70000000000002

In [ ]:
#python temperature converter
unit = input("Enter the unit of measurement (C/F): ")
if unit == "C":
    temp = float(input("Enter the temperature in Celsius: "))
    print(f"The temperature in Fahrenheit is {temp * 9/5 + 32}")
elif unit == "F":
    temp = float(input("Enter the temperature in Fahrenheit: "))
    print(f"The temperature in Celsius is {(temp - 32) * 5/9}")
else:
  print ("Invalid unit of measurement")

Enter the unit of measurement (C/F): F
Enter the temperature in Fahrenheit: 98
The temperature in Celsius is 36.666666666666664

In [ ]:
#Logical Operators (and/or/not)
temperature = 36
is_raining = False
if temperature > 35 and is_raining:
   print("The outdoor event is cancelled")
else:
  print("The outdoor event is scheduled")

The outdoor event is scheduled

In [ ]:
#Ternary Operators
number = 2
a = 6
b = 8
age = 18

#can_vote = True if age >= 18 else False
#print(can_vote)
#result = a if a > b else b
#print(result)
#print("Positive" if number >= 5 else "Negative")
#print("Even" if number %2 == 0 else "Odd")

True

In [ ]:
#String methods
name = input("Enter your name: ")
#result = len(name)
#result = name.find(" ")
#result = name.replace("Keith", "John")
#result = name.rfind("o")
print(result)

Enter your name: Keith Tongi
7

In [ ]:
#String Indexing
credit_number = "1234-5678-9012-3456-7890"
#print(credit_number[0:4])
#print(credit_number[0:4:2])
print(credit_number[::-1])

0987-6543-2109-8765-4321

In [ ]:
#Format specifiers
price1 = 3678.142
price2 = -99887.6
price3 = 12556.34
print(f"The price1 is $ {price1:10,.1f}")
print(f"The price2 is $ {price2:10,.1f}")
print(f"The price3 is $ {price3:10,.1f}")

The price1 is $    3,678.1
The price2 is $  -99,887.6
The price3 is $   12,556.3

In [ ]:
#While loops
name = input("Enter your name: ")

while name == "":
  print("Name cannot be empty")
  name = input("Enter your name: ")
else:
  print(f"Hello {name}")

Enter your name:
Name cannot be empty
Enter your name:
Name cannot be empty
Enter your name:
Name cannot be empty
Enter your name:
Name cannot be empty
Enter your name: Keith
Hello Keith

In [ ]:
age = int(input("Enter your age: "))
while age < 0:
  print("Age cannot be negative")
  age = int(input("Enter your age: "))
else:
  print(f"You are {age} years old")

Enter your age: 27
You are 27 years old

In [ ]:
food = input("Enter a food you like (q to quit): ")
while not food == "q":
  print(f"You like {food}")
  food = input("Enter another food you like (q to quit): ")
else:
  print("Goodbye")

Enter a food you like (q to quit): chapati
You like chapati
Enter another food you like (q to quit): chips
You like chips
Enter another food you like (q to quit): nyamachoma
You like nyamachoma
Enter another food you like (q to quit): q
Goodbye

In [ ]:
num = input("Enter a # between 1 and 10: ")
while not num.isdigit() or int(num) < 1 or int(num) > 10:
  print("Invalid input")
  num = input("Enter a # between 1 and 10: ")
  print(f"You entered {num}")

Enter a # between 1 and 10: 20
Invalid input
Enter a # between 1 and 10: 9
You entered 9

In [ ]:
#Python compound interest calculator
principle = float(input("Enter the principle amount: "))
while principle < 0:
  print("Invalid input")
  principle = float(input("Enter the principle amount: "))
rate = float(input("Enter the annual interest rate: "))
while rate < 0:
  print("Invalid input")
  rate = float(input("Enter the annual interest rate: "))
time = float(input("Enter the number of years: "))
while time < 0:
  print("Invalid input")
  time = float(input("Enter the number of years: "))
amount = principle * (1 + rate/100) ** time
print(f"The amount after {time} years is KES {amount:,.2f}")

Enter the principle amount: 100000
Enter the annual interest rate: 9.7
Enter the number of years: 10
The amount after 10.0 years is KES 252,386.59

In [ ]:
#For Loops
for x in reversed(range(1,11)):
  print(x)
print("Happy New Year")

10
9
8
7
6
5
4
3
2
1
Happy New Year

In [ ]:
for x in range(1,11):
  if x == 5:
    continue
  else:
    print(x)
print("Happy New Year")

1
2
3
4
6
7
8
9
10
Happy New Year

In [ ]:
import time

In [ ]:
my_time = int(input("Enter the time in seconds: "))
for x in range(my_time, 0, -1):
  seconds = x % 60
  minutes = x // 60
  hours = minutes // 60
  minutes = minutes % 60
  print(f"{hours:02}:{minutes:02}:{seconds:02}")
time.sleep(1)
print("Time's up!")

Enter the time in seconds: 3
00:00:03
00:00:02
00:00:01
Time's up!

In [ ]:
#For loops - Execute code a fixed number of times
for j in range(1,11):
  if j == 5:
    break
  else:
    print(j)

1
2
3
4

In [ ]:
#While loops - Execute code while condition remains true
name = input("Enter your name:")
while name == "":
  print("Name cannot be empty")
  name = input("Enter your name:")
print(f"Hello {name}")

Enter your name:Ivy
Hello Ivy

In [ ]:
age =int(input("Enter your age: "))
while age < 0:
  print("Age cannot be negative")
  age = int(input("Enter your age: "))
print(f"You are {age} years old")

Enter your age: 10
You are 10 years old

In [ ]:
# Logical Operators
temperature = 36
is_raining = False
if temperature > 35 and is_raining:
  print("The outdoor event is cancelled")
else:
  print("The outdoor event is scheduled")

The outdoor event is scheduled

In [ ]:
# Ternary Operator
number = 6
result = "Even" if number % 2 == 0 else "Odd"
print(result)

Even

In [ ]:
#2D lists
fruits = ["apple", "banana", "cherry"]
vegetables = ["carrot", "lettuce", "onion"]
meats = ["beef", "chicken", "pork"]
groceries = [fruits, vegetables, meats]
print(groceries[0][0])
print(groceries[1][1])
print(groceries[2][0])

apple
lettuce
beef

In [ ]:
num_pad = ((1,2,3),
          (4,5,6),
          (7,8,9),
          ("*",0,"#"))
for row in num_pad:
  for num in row:
    print(num, end=" ")

1 2 3 4 5 6 7 8 9 * 0 #

In [ ]:
# python quiz game
questions = ("How many presidents has USA had?:", "Who is the fastest man alive?:", "What's the most abudant gas in earth's atmosphere?:", "How many planets are in the solar system?:")
options = (("A. 44","B. 40","C. 10","D. 45"),
           ("A. Usain Bolt","B. Omanyala","C. Tyson Gay","D. Asafa Powell"),
           ("A. Oxygen","B. Nitrogen","C. Carbon Dioxide","D. Argon"),
           ("A. 5","B. 6","C. 7","D. 8"))
answers = ("D", "A", "B", "D")
guesses = []
score = 0
question_num = 0
for question in questions:
  print("----------------------")
  print(question)
  for option in options[question_num]:
    print(option)
  question_num += 1
  guess = input("Enter (A, B, C, or D): ")
  guesses.append(guess)
  if guess == answers[question_num - 1]:
    score += 1
    print ("Correct Answer")
  else:
    print("Incorrect Answer")
    print(f"The correct answer is {answers[question_num - 1]}")

print("----------------------")
print("       RESULTS        ")
print("----------------------")
print("Answers: ", end="")
for answer in answers:
  print(answer, end=" ")
print()
print("Guesses: ", end="")
for guess in guesses:
  print(guess, end=" ")
print()
print(f"Your score is {score}/{len(questions)}")

----------------------
How many presidents has USA had?:
A. 44
B. 40
C. 10
D. 45
Enter (A, B, C, or D): D
Correct Answer
----------------------
Who is the fastest man alive?:
A. Usain Bolt
B. Omanyala
C. Tyson Gay
D. Asafa Powell
Enter (A, B, C, or D): A
Correct Answer
----------------------
What's the most abudant gas in earth's atmosphere?:
A. Oxygen
B. Nitrogen
C. Carbon Dioxide
D. Argon
Enter (A, B, C, or D): B
Correct Answer
----------------------
How many planets are in the solar system?:
A. 5
B. 6
C. 7
D. 8
Enter (A, B, C, or D): D
Correct Answer
----------------------
       RESULTS
----------------------
Answers: D A B D
Guesses: D A B D
Your score is 4/4

In [ ]:
#Dictionaries
Capitals = {"USA": "Washington DC", "India": "New Delhi", "France": "Paris", "Germany": "Berlin", "Japan": "Tokyo"}
print(Capitals["USA"])
print(Capitals.get("Germany"))
if Capitals.get("UK") == None:
  print("UK is not in the dictionary")
else:
  print(Capitals["UK"])
Capitals.update({"UK": "London"})
print(Capitals)
Capitals.pop("Germany")
print(Capitals)
keys = Capitals.keys()
print(keys)
values = Capitals.values()
print(values)
items = Capitals.items()
#Dictionaries
Capitals = {"USA": "Washington DC", "India": "New Delhi", "France": "Paris", "Germany": "Berlin", "Japan": "Tokyo"}
print(Capitals["USA"])
print(Capitals.get("Germany"))
if Capitals.get("UK") == None:
  print("UK is not in the dictionary")
else:
  print(Capitals["UK"])
Capitals.update({"UK": "London"})
print(Capitals)
Capitals.pop("Germany")
print(Capitals)
keys = Capitals.keys()
print(keys)
values = Capitals.values()
print(values)
items = Capitals.items()
print(items)
for key, value in Capitals.items():
  print(f"{key}: {value}")

Washington DC
Berlin
UK is not in the dictionary
{'USA': 'Washington DC', 'India': 'New Delhi', 'France': 'Paris', 'Germany': 'Berlin', 'Japan': 'Tokyo', 'UK': 'London'}
{'USA': 'Washington DC', 'India': 'New Delhi', 'France': 'Paris', 'Japan': 'Tokyo', 'UK': 'London'}
dict_keys(['USA', 'India', 'France', 'Japan', 'UK'])
dict_values(['Washington DC', 'New Delhi', 'Paris', 'Tokyo', 'London'])
Washington DC
Berlin
UK is not in the dictionary
{'USA': 'Washington DC', 'India': 'New Delhi', 'France': 'Paris', 'Germany': 'Berlin', 'Japan': 'Tokyo', 'UK': 'London'}
{'USA': 'Washington DC', 'India': 'New Delhi', 'France': 'Paris', 'Japan': 'Tokyo', 'UK': 'London'}
dict_keys(['USA', 'India', 'France', 'Japan', 'UK'])
dict_values(['Washington DC', 'New Delhi', 'Paris', 'Tokyo', 'London'])
dict_items([('USA', 'Washington DC'), ('India', 'New Delhi'), ('France', 'Paris'), ('Japan', 'Tokyo'), ('UK', 'London')])
USA: Washington DC
India: New Delhi
France: Paris
Japan: Tokyo
UK: London

In [ ]:
#Concession stand program
menu = {"pizza": 400, "burger": 300, "fries": 200, "coke": 100}
cart = []
total = 0
print("----------MENU----------")
for item, price in menu.items():
  print(f"{item:10}: KES {price}")
print("------------------------")

while True:
  item = input("Enter an item to buy (q to quit): ")
  if item == "q":
    break
  elif item in menu:
    cart.append(item)
    total += menu[item]
    print(f"{item} added to cart")
  else:
    print("Invalid item")
print("----------CART----------")
for item in cart:
  print(item)
print("------------------------")
print(f"Total: KES {total}")

----------MENU----------
pizza     : KES 400
burger    : KES 300
fries     : KES 200
coke      : KES 100
------------------------
Enter an item to buy (q to quit): pizza
pizza added to cart
Enter an item to buy (q to quit): fries
fries added to cart
Enter an item to buy (q to quit): q
----------CART----------
pizza
fries
------------------------
Total: KES 600

In [ ]:
import random

In [ ]:
low = 1
high = 100
number = random.randint(low, high)
print(number)

79

In [ ]:
#Number Guessing Game
import random

lowest_number = 1
highest_number = 100
answer = random.randint(lowest_number, highest_number)
guesses = 0
is_correct = False
while not is_correct:
  guess = int(input(f"Guess a number between {lowest_number} and {highest_number}: "))
  if guess == answer:
    print(f"You guessed it in {guesses} guesses")
    is_correct = True
  elif guess < answer:
    print("Too low")
  else:
    print("Too high")
  guesses += 1
print("Python number guessing game")
print(f"select a number between {lowest_number} and {highest_number}")
while is_correct == False:
  guess = int(input(f"Guess a number between {lowest_number} and {highest_number}: "))
  guesses += 1
  print ("That number is in range")

KeyboardInterrupt: Interrupted by user

In [ ]:
#Rock paper Scissors
import random
options = ("rock", "paper", "scissors")
player = None
computer = random.choice(options)
running = True
while running:
  player = None
  computer = random.choice(options)
  while player not in options:
    player = input("Enter a choice (rock, paper, scissors): ")
  print (f"Player: {player}")
  print (f"Computer: {computer}")
  if player == computer:
    print ("It's a tie!")
  elif player == "rock" and computer == "scissors":
    print ("Player wins!")
  elif player == "paper" and computer == "rock":
    print ("Player wins!")
  elif player == "scissors" and computer == "paper":
    print ("Player wins!")
  else:
    print ("Computer wins!")
  play_again = input("Play again? (y/n): ")
  if play_again == "n":
    running = False
print("Thanks for playing")

Enter a choice (rock, paper, scissors): paper
Player: paper
Computer: rock
Player wins!
Play again? (y/n): y
Enter a choice (rock, paper, scissors): rock
Player: rock
Computer: paper
Computer wins!
Play again? (y/n): n
Thanks for playing

In [ ]:
#Functions
def happy_birthday():
  print("Happy birthday to you")
  print("Happy birthday to you")
  print(f"Happy birthday, dear Keith")
  print("Happy birthday to you")

In [ ]:
happy_birthday()
happy_birthday()
happy_birthday()

Happy birthday to you
Happy birthday to you
Happy birthday, dear Keith
Happy birthday to you
Happy birthday to you
Happy birthday to you
Happy birthday, dear Keith
Happy birthday to you
Happy birthday to you
Happy birthday to you
Happy birthday, dear Keith
Happy birthday to you

In [ ]:
def display_invoice(name, amount, due_date):
  print(f"Invoice for {name}")
  print(f"Amount: KES {amount}")
  print(f"Due date: {due_date}")

In [ ]:
display_invoice("Laura", "50000", "31/3/2025")

Invoice for Laura
Amount: KES 50000
Due date: 31/3/2025

In [ ]:
#Return
def add(x,y):
  z = x+y
  return z

def subtract(x,y):
  z = x-y
  return z

def multiply(x,y):
  z = x*y
  return z

def divide(x,y):
  z = x/y
  return z

In [ ]:
print (add(4,2))
print (subtract(4,2))
print (multiply(4,2))
print (divide(4,2))

6
2
8
2.0

In [ ]:
def create_name(first_name, last_name):
  first_name = first_name.upper()
  last_name = last_name.upper()
  return first_name + " " + last_name
full_name = create_name("shamim", "mwangangi")
print(full_name)

SHAMIM MWANGANGI

In [ ]:
#Default arguments
def net_price(list_price, discount=0, tax=0.16):
  return list_price * (1 - discount) * (1 + tax)
print(net_price(1000))
print(net_price(1000, 0.1))

1160.0
1044.0

In [ ]:
#Keyword arguments
def hello (greeting, title, first_name, last_name):
  print(f"{greeting} {title} {first_name} {last_name}")
hello("Hello", title = "Dr.", first_name = "Keith", last_name = "Tongi")
hello("Hello", first_name = "Keith", last_name = "Tongi", title = "Dr.")

Hello Dr. Keith Tongi
Hello Dr. Keith Tongi

In [ ]:
def get_phone(country_code, phone_number, area_code):
  return f"+{country_code} ({area_code}) {phone_number}"
phone_no = get_phone(country_code = 254, phone_number = 532802, area_code = 792)
print(phone_no)

+254 (792) 532802

In [ ]:
#Arbitrary arguments
def add(*args):
  total = 0
  for arg in args:
    total += arg
  return total
print(add(1,2,3,4,5))

15

In [ ]:
def display_name(*args):
  for arg in args:
    print(arg, end=" ")
display_name("Shamim", "Loise", "Mwangangi")

Shamim Loise Mwangangi

In [ ]:
def print_address(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}: {value}")
print_address(street = "Kumbe road", city = "Nairobi", country = "Kenya", zipcode = "00100")

street: Kumbe road
city: Nairobi
country: Kenya
zipcode: 00100

In [ ]:
def shipping_label(*args, **kwargs):
  for arg in args:
    print(arg, end=" ")
  print()
def shipping_label(*args, **kwargs):
  for arg in args:
    print(arg, end=" ")
  print()
  for key, value in kwargs.items():
    print(f"{key}: {value}")
  print(f"{kwargs.get('street')}")
shipping_label("Shamim", "Loise", "Mwangangi", street = "Kumbe road", city = "Nairobi", country = "Kenya", zipcode = "00100")

Shamim Loise Mwangangi
street: Kumbe road
city: Nairobi
country: Kenya
zipcode: 00100
Kumbe road

In [ ]:
#Iterables
numbers = [1, 2, 3, 4, 5]
for number in reversed (numbers):
  print(number, end="-")

5-4-3-2-1-

In [ ]:
fruits = {"apple", "orange", "banana", "mango"}
for fruit in fruits:
  print (fruit)

orange
apple
banana
mango